@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

.b{
background-color: hsl(0, 0%, 100%, 0.1);
}

.dd{
background: #00fbff;
background: linear-gradient(293deg, rgba(0, 251, 255, 1) 0%, rgba(5, 255, 230, 1) 24%, rgba(227, 252, 0, 1) 100%);
 cursor: pointer;
}
.ff{
   font-family: "Ubuntu", sans-serif;
   font-weight: bold;
}

.k{
   background-color: rgb(127, 255, 206,);
}

.bor{
  border: 1px, solid, rgb(94, 221, 106);
}